@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply text-slate-900 ;
    }
    h1,h2,h3,h4 {
        @apply font-alt text-slate-900;
    }
    h1{
        @apply font-bold text-3xl p-[1em]
    }
    h2{
        @apply text-2xl font-medium 
    }
    h3{
        @apply text-xl font-medium p-[.25rem]
    }
  }
  @layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 20px;
      height: 20px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #f7f4ed00;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #e0cbcb00;
      border-radius: 100vh;
      border: 3px solid #f6f7ed00;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: rgba(34, 197, 94, 0)

    }
  }
.bg-cat{
    background-image: url(../public/img/cat.svg);
    background-repeat: repeat;
    background-size: 75px;
    background-attachment: fixed;
}
.bg-winston{
  background-image: url('https://farbenmeer.de/_next/image?url=https%3A%2F%2Fimages.prismic.io%2Ffarbenmeer%2F89295ea8-83a6-4687-b724-b2b3cabe846a_2021_07_farbenmeer_Portraits_0627.jpg%3Fw%3D1200%26auto%3Dcompress%2Cformat%26rect%3D0%2C159%2C2143%2C2679%26h%3D625&w=1920&q=75');
  background-attachment: fixed;
}
